<div id="cube-blocks" block="cube-blocks" mod="{{mod}}">
    <div id="canvas-wrap">
        <canvas id="demo-canvas" width="900" height="500"></canvas>
    </div>
    <li elem="item-wrap">
        <a href="#" block="item">
            <div elem="inner" mod="center">
                center
            </div>
            <div elem="inner" mod="right">
                right
            </div>
            <div elem="inner" mod="bottom">
                bottom
            </div>
            <div elem="inner" mod="left">
                left
            </div>
            <div elem="inner" mod="top">
                top
            </div>
            <div elem="inner" mod="back">
                back
            </div>
        </a>
        </li>
</div><!-- /cube-blocks -->
