<div class="prices-table">
    <div class="prices-table__inner">
        <div class="prices-table__top-line">
            <div class="prices-table__image">
                <img src="images/img/fiolet-kovsh.jpg" alt="">
            </div>
            <div class="prices-table__text">
                <a href="#" class="prices-table__text-title">
                    Игора
                </a>
                <div class="prices-table__text-address">
                    <span>Адрес:</span><br/>Ленобласть, Приозерский район, 54–й км Приозерского шоссе
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>Одноместный номер “Эконом”</td>
                <td class="prices-table__price"><span>2 700 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Одноместный номер “Супериор”</td>
                <td class="prices-table__price"><span>3 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Эконом”</td>
                <td class="prices-table__price"><span>4 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Супериор”</td>
                <td class="prices-table__price"><span>4 800 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Люкс”</td>
                <td class="prices-table__price"><span>5 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Трехместный номер “стандарт”</td>
                <td class="prices-table__price"><span>6 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
        </table>
    </div>
    <div class="prices-table__similar-block">
        Похожие варианты размещения
    </div>
    <div class="prices-table__inner">
        <div class="prices-table__top-line">
            <div class="prices-table__image">
                <img src="images/img/fiolet-kovsh.jpg" alt="">
            </div>
            <div class="prices-table__text">
                <a href="#" class="prices-table__text-title">
                    Игора
                </a>
                <div class="prices-table__text-address">
                    <span>Адрес:</span><br/>Ленобласть, Приозерский район, 54–й км Приозерского шоссе
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>Одноместный номер “Эконом”</td>
                <td class="prices-table__price"><span>2 700 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Одноместный номер “Супериор”</td>
                <td class="prices-table__price"><span>3 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Эконом”</td>
                <td class="prices-table__price"><span>4 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Супериор”</td>
                <td class="prices-table__price"><span>4 800 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Люкс”</td>
                <td class="prices-table__price"><span>5 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Трехместный номер “стандарт”</td>
                <td class="prices-table__price"><span>6 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
        </table>
    </div>
    <div class="prices-table__inner">
        <div class="prices-table__top-line">
            <div class="prices-table__image">
                <img src="images/img/fiolet-kovsh.jpg" alt="">
            </div>
            <div class="prices-table__text">
                <a href="#" class="prices-table__text-title">
                    Игора
                </a>
                <div class="prices-table__text-address">
                    <span>Адрес:</span><br/>Ленобласть, Приозерский район, 54–й км Приозерского шоссе
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td>Одноместный номер “Эконом”</td>
                <td class="prices-table__price"><span>2 700 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Одноместный номер “Супериор”</td>
                <td class="prices-table__price"><span>3 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Эконом”</td>
                <td class="prices-table__price"><span>4 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Супериор”</td>
                <td class="prices-table__price"><span>4 800 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Двухместный номер “Люкс”</td>
                <td class="prices-table__price"><span>5 500 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
            <tr>
                <td>Трехместный номер “стандарт”</td>
                <td class="prices-table__price"><span>6 000 р.</span> &nbsp; за весь период</td>
                <td class="prices-table__reserve"><button type="submit" onclick="return hotelSpb.expandBookingLargeForm('Центральный', '', '', '');">Забронировать</button></td>
            </tr>
        </table>
    </div>
    </div>
</div>
