<div class="animated fadeInLeft" block="turning-block" mod="{{mod}}">
    <div elem="container">
        <div elem="front-img">
            <img src="images/img/red-kovsh.jpg" alt="">
        </div>
        <div elem="back-img">
            <img src="images/img/fiolet-kovsh.jpg" alt="">
        </div>
    </div>
</div><!-- /turning-block -->
