<div block="slide-block" mod="{{mod}}">
    <div elem="container">
        <div elem="before">
            <img src="images/img/red-kovsh.jpg" alt="">
        </div>
        <div elem="after">
            <img src="images/img/fiolet-kovsh.jpg" alt="">
        </div>
        <div elem="hint">
            <--Потяни-->
        </div>
    </div>
</div><!-- /slide-block -->
