.slide-block

    &__container
        width 500px
        height 500px
        margin 0 auto
        position relative
        overflow hidden

    &__after,&__before
        position absolute
        top 0
        left 0
        bottom 0

    &__after
        width 50%
        border-right 5px solid #000

    &__hint
        position absolute
        top 50%
        left 50%
        margin-left -55px
        margin-top -10px
        height 20px
        background #f80
        padding 10px
        color #000
        width 110px
        text-transform uppercase

    & img
        width 100%
        height 100%
